@import url('https://fonts.googleapis.com/css?family=Roboto');
.center {
	display: flex;
	flex-direction: row;
  justify-content: center;
}

#stephen-head {
	max-width: 300px;
	max-height: 300px;
	padding: 30px;
		transform: translatey(0px);
		animation: float 3s ease-in-out infinite;
}

.answer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 355px;
}

.inputs-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

#question-input {
	min-width: 400px;
	padding: 10px;
}

#ask {
	padding: 10px;
}

body{
	background-color: #130f40;
	font-family: Roboto;
	color: white;
}
.container-fluid{
	width: 50%;
	text-align: center;
}
#question-input{
	width: 100%;
	padding: 15px 10%;
	text-align: center;
	border: none;
	font-family: Roboto;
	background-color: #686de0;
	color: white;
	text-transform: uppercase;
}
.inputs-container button{
	width: 100%;
	padding: 15px 10%;
	text-align: center;
	border: none;
	font-family: Roboto;
	background-color: #30336b;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}
p{
	text-align: left;
	font-size: 12px;
	border-left: 2px solid white;
	padding-left: 15px;
	margin-top: 50px;
}
