@import url('https://fonts.googleapis.com/css?family=Roboto');
.center {
	display: flex;
	flex-direction: row;
  	justify-content: center;
}

#stephen-head {
	max-width: 300px;
	max-height: 300px;
	padding: 30px;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.answer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 355px;
}

.inputs-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

#question-input {
	min-width: 400px;
	padding: 10px;
}

#ask {
	padding: 10px;
}

body {
	background-color: #130f40;
	font-family: Roboto;
	color: white;
}

.container-fluid{
	width: 50%;
	text-align: center;
}

#question-input{
	min-width: 400px;
	padding: 10px;
	text-align: center;
	border: none;
	font-family: Roboto;
	background-color: #686de0;
	color: white;
	text-transform: uppercase;
}

.inputs-container button{
	padding: 15px;
	text-align: center;
	border: none;
	font-family: Roboto;
	background-color: #30336b;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}